body{
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-left: 12.5%;
    margin-right: 12.5%;
    color: white;
    font-weight: bold;
    background-color: black;
}
.errors h2
{
    color: red;
}

.board
{
    width: 405px;
    height: 405px;
    background-color: gray;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.tile
{
    width: 43px;
    height: 43px;
    border: 1px solid;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}
.selected
{
    background-color: rgb(0, 0, 0);
}
.digits
{
    background-color: gray;
    width: 405px;
    height: 45px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.number
{
    width: 43px;
    height: 43px;
    border: 1px solid;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.horizontal-border
{
    border-bottom: 1px solid black;
}

.vectical-border
{
    border-right: 1px solid black;
}
